.tablePlan {
	margin-top: 10px;
}

.tablePlan tfoot td {
	text-align: center;
}

th,td{
	margin:0;
	padding:0;
	font-weight:normal;
}
.table>thead>tr>th{
	padding:6px;
}
a:visited
{ 
background-color:yellow;
}